{% extends 'main/base.html' %}

{% load static %}

{% block links %}
    
<link rel="stylesheet" href={% static 'css/login.css'%}>

<title>Se Liga UFPI</title>

{% endblock links %}    

{% block header %}
{% endblock header %}


{% block main %}
<main class="container">   
    <div id="main-contents">
        <div id="container-contents">
            {% if request.user.is_authenticated %}

            <h3>Ação não permitida</h3>

            <p>Houve algum problema para processar a ação desejada ou você não tem permissão para isso.</p>
            
            {% else %}

            <div id="login">    
                <h3>Login</h3>
            </div>
            <form action="" method="POST"  >
                {% csrf_token %}
                {{form.as_p}}
                <div id="password">
                    <a href={% url 'password_reset' %}>Esqueceu sua senha?</a>   
                </div>
                <div id="enviar">
                    <a id="a" href={% url 'home' %}>Voltar</a>
                    <button type="submit">Entrar</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</main>

{% endblock main %}

{% block footer %}

{% endblock footer %}
