{% extends 'main/base.html' %}

{% load static %} 

{% block links %}
    <link rel="stylesheet" href={% static 'css/password_reset_form.css'%}>
    <title>Recuperando senha</title> 
{% endblock %}

{% block header %}
    
{% endblock header %}  

{% block main %}
    <main class="container">
        <div id="container-contents">
            <div id="reset">
                <h1>Esqueceu sua senha?</h1>
            </div>
            
            <div id="description">            
                <p>Digite seu endereço de e-mail para obter uma nova senha.</p>
            </div>

            <form action="." method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div id="enviar">
                    <a id="a" href={% url 'login' %}>Voltar</a>
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </main>
{% endblock %}

{% block footer %}
    
{% endblock footer %}  
