{% extends 'main/base.html' %}

{% load static %} 

{% block links %}
    <link rel="stylesheet" href={% static 'css/password_reset_confirm.css'%}>

    <title>Recuperando senha</title> 
{% endblock %}

{% block header %}
    
{% endblock header %}  

{% block main %}
<main class="container">
    <div id="container-contents">
    {% if validlink %}
        <div id="passowrd">
            <h3>Nova senha</h3>
            
        </div>
        
        <p id="description">Digite sua nova senha duas vezes:</p>

        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            {% comment %} <p><input type="submit" value="Alterar minha senha" /></p> {% endcomment %}
            <div id="enviar">
                <button type="submit">Alterar minha senha</button>
            </div>
        </form>
    {% else %}
        <p>O link de redefinição de senha era inválido, 
        possivelmente porque já foi usado. 
        Solicite uma nova redefinição de senha</p>
    {% endif %}
    </div>
</main>
{% endblock %}



{% block footer %}
    
{% endblock footer %}  
