{% extends 'main/base.html' %}

{% load static %} 

{% block links %}
    <link rel="stylesheet" href={% static 'css/password_reset_complete.css'%}>
    <title>Recuperando senha</title> 
{% endblock %}

{% block header %}
    
{% endblock header %}  

{% block main %}
    <main class="container">
        <div id="container-contents">
            <div>
                <h1>Senha definida</h1>
            </div>
            <p>Você pode <a href="{% url "login" %}">conecte-se agora</a></p>
        </div>
    </main>
{% endblock main%}

{% block footer %}

{% endblock footer %}