{% extends 'main/base.html' %}

{% load static %} 

{% block links %}
    <link rel="stylesheet" href={% static 'css/password_reset_done.css'%}>
    <title>Recuperando senha</title> 
{% endblock %}

{% block header %}
    
{% endblock header %}

{% block main %}

<main class="container">
    <div id="container-contents">
        <div id="reset">
            <h1>Recuperando senha</h1> 
        </div>
        <p>Enviamos um e-mail com instruções para definir sua senha.</p>

        <p>Se você não receber um e-mail, verifique se digitou o endereço com o qual se registrou.</p>
    
        <div id="home">
            <a href={% url "home" %}>Página inicial</a>
        </div>
    </div>
</main>

{% endblock %}

{% block footer %}
    
{% endblock footer %}  

