html {
    height: 100%;
    min-height: 100%;
}

body{
    background: var(--background);
    background-repeat: no-repeat;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header{
    background-color: var(--button);
    color: var(--background);
    padding: 3.75rem 0;
}

.container {
    max-width: 78.75rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
} 

header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header a{
    color: var(--background);
}

header .logo a{
    font-size: 2.25rem;
}    

header .logout {
    font-size: 24px;
}

header .logout a:hover{
    color: var(--button-hover);
}

/* main */

.main-contents {
    width: 37.375rem;
    width: 100%;
    padding: 2.125rem 0 2.5rem 0 ;

    border-radius: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */

footer{
    background-color: var(--button);
    color: var(--background);

    padding: 1rem 0;
    text-align: center;
    font-size: 1.25rem; 

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 

    margin-top: auto;
}

.container-contents{
    background-color: var(--background-container);
    border-radius: 0.625rem;
    padding: 50px;
    margin: 0 0.625rem;
}

.container-contents .title{
    text-align: center;
    font-size: 1.875rem;
    color: var(--background);
}

.container-contents label{
    display: block;
    padding-bottom: 0.75rem;
    color: var(--background);
}

.container-contents #mensagem_label{
    margin-top: 1rem;
}


.container-contents select{
    /* width:  90%; */
    font-size: 1rem;
    margin: 0 0.625rem;
    height: 2.25rem;
    border: none;
    border-radius: 0.625rem;
}

.container-contents select:focus{
    visibility: hidden;
}

.container-contents textarea{
    outline: 0;
    text-indent: 0.625rem;
    resize: none;
    
    width:  90%;
    height: 150px;
    
    border-radius: 0.625rem;
    margin: 0 0.625rem;
}

.container-contents textarea:focus-within, .container-contents select:focus-within{
    visibility: visible;
    border: 3px solid var(--button-hover);
}

.container-contents .enviar{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1.5rem 0 0 0;
}

.container-contents button{
    max-width: 12.5rem;
    width: 100%;
    margin: 0 10px;
    padding: 1rem 0;
    
    align-self: center;

    background-color: var(--button);
    color: var(--white);

    border: 0.0625rem solid var(--button);
    border-radius: 8px;
    cursor: pointer;
}

.container-contents button:hover{
    background-color: var(--button-hover);
    border-color: var(--button-hover);
}

/* footer */

footer .container-footer{
    max-width: 350px;
    width: 90%;
} 


footer .container-footer img{
    background-repeat: no-repeat;
}

@media (max-width: 23.125rem){
    .container-content{
        padding: 30px 5px;
    }    
}