html {
    height: 100%;
    min-height: 100%;
}

body{
    background: var(--background);
    background-repeat: no-repeat;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header{
    background-color: var(--button);
    color: var(--background);
    padding: 3.75rem 0;
}

.container {
    max-width: 78.75rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
} 

header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header a{
    color: var(--background);
}

header .logo a{
    font-size: 2.25rem;
}    

header .logout {
    font-size: 24px;
}

header .logout a:hover{
    color: var(--button-hover);
}


/* main */

.container {
    max-width: 73.25rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
} 

.main-container {
    width: 37.375rem;
    width: 100%;
    padding: 2.125rem 0 2.5rem 0 ;

    border-radius: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--background);
}

.container-content{
    background-color: var(--background-container);
    border-radius: 0.625rem;
    padding: 50px;
    margin: 0 0.625rem;
}

.container-content .title{
    text-align: center;
    font-size: 1.875rem;
}

.container-content .title + div{
    padding-top: 2.75rem;
    font-size: 1.1875rem;
    text-align: center;
}

.container-content .button-submit{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1.5rem 0 0.7rem 0;
}

.container-content button{
    max-width: 12.5rem;
    width: 100%;
    margin: 0 10px;
    padding: 1rem 0;
    
    align-self: center;

    background-color: var(--button);
    color: var(--white);

    border: 0.0625rem solid var(--button);
    border-radius: 8px;
    cursor: pointer;
}

.container-content button:hover{
    background-color: var(--button-hover);
    border-color: var(--button-hover);
}


/* footer */

footer{
    background-color: var(--button);
    color: var(--background);

    padding: 1rem 0;
    text-align: center;
    font-size: 1.25rem; 

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 

    margin-top: auto;

}

footer .container-footer{
    max-width: 350px;
    width: 90%;
} 


footer .container-footer img{
    background-repeat: no-repeat;
}

@media (max-width: 23.125rem){
    .container-content{
        padding: 30px 5px;
    }    
}