html {
    height: 100%;
    min-height: 100%;
}

body{
    background: var(--background);
    background-repeat: no-repeat;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* Header */

header{
    background-color: var(--button);
    color: var(--background);
    padding: 3.75rem 0;
}

.container {
    max-width: 78.75rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
} 

header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header a{
    color: var(--background);
}

header .logo a{
    font-size: 2.25rem;
}    

header .logout {
    font-size: 24px;
}

header .logout a:hover{
    color: var(--button-hover);
}

header .search form select{
    border-radius: 8px;
    padding: 10px;
}

.user{
    width: 100%;
    max-width: 14rem;

    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: 1.125rem;
}

.user a {
    text-decoration: none;
    color: #fff;        
}

.user .login, .user .register{
    padding: 0.625rem;
    border-radius: 0.625rem;
    background-color: #6B7AA1;
}

.user .registration{
    max-width: 140px;
} 

.register:hover{
    background-color: var(--button-hover);
} 

.login:hover{
    background-color: var(--button-hover);
} 

/* main */

main.container-content{
    max-width: 78.75rem;
    width: 100%;
    margin: 0 0.625rem;
    padding: 2.125rem 0 2.5rem 0 ;

    border-radius: 0.625rem;
    
    margin: 2.5rem auto;
    color: var(--background)
}

.container-content section{
    max-width: 48.125rem;
    width: 100%;
}

#container-aside{
    display: flex;
    flex-direction: column;
}

#container-aside .img div{
    display: flex;
}

aside{
    background-color: var(--background-container);
    
    margin-right: 3.875rem;
    max-width: 17rem;
    width: 100%;
    height: 20rem;    

    border-radius: 8px;
}

aside div h2{
    margin: 1rem 0 0 0.5rem;
}

aside div .information h2::after {
    content: '';
    display: block;
  
    height: 0.1rem;
    width: 8rem;
  
    background-color: var(--background);
}

aside div .events h2::after {
    content: '';
    display: block;
  
    height: 0.15rem;
    width: 15rem;
  
    background-color: var(--background);
}

aside div div:nth-child(2) a{
    display: block;
    color: #EEE;
    margin: 1rem 0 0 1.5rem;
}

aside div div:nth-child(2) a:hover{
    color: var(--button-hover);
}

.publication{
    border: 1px solid var(--background-container);
    border-radius: 8px;

    background-color: var(--background-container);

    margin-bottom: 2rem;
    padding: 1rem 0 1rem 1.625rem;
}

.publication div{
    display: flex;
    align-items: center;
}

.publication img{
    width: 4.375rem;
    border-radius: 2.5rem;
    margin-right: 20px;
}

.publication a{
    color: var(--background);
}

.publication a::after {
    content: '';
    display: block;
  
    height: 0.1rem;
    width: 50rem;
    /* width: 100%; */

    background-color: var(--background);
}

.content {
    display: flex;
    justify-content: center;
    margin: 0 0.625rem;

}

.content section{
    max-width: 48.125rem;
    width: 100%;
}

.content .img{
    display: flex;
    align-items: center;
}

.content .img img{
    width: 4.375rem;
    border-radius: 2.5rem;
    margin: 1rem 1rem 0 1.625rem;
}

.content .img h3{
    font-size: 2rem;
}

.content .img div p{
    margin: 0.5rem 0.5rem 0 1rem;
    font-size: 1.125rem;
}

#container-main{
    background-color: var(--background-container);
    margin-bottom: 2rem;
    border-radius: 8px;
}

#container-main .publicationContainer{
    max-width: 37.5rem;
    width: 100%;

    margin: 35px auto;
}

#container-main .publicationContainer .publicationText{
    margin-bottom: 2.25rem;
}

.publicationImg img{
    max-width: 37.5rem;
    width: 100%;
    /* height: 500px; */
}

.publication-inf{
    display: flex;
    justify-content: center;
    align-items:flex-start;

    gap: 20px;
    margin-top: 1.375rem;
    padding-bottom: 2.25rem;
}

.publication-inf div{
    width: 100%;
    max-width: 11.25rem;
    text-align: center;
}

.publication-inf div h3{
    margin-bottom: 1.875rem;
}

.intention, .option{
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 3.125rem;

    color: var(--background);
}

.intention div, .option div{
    display: flex;
    justify-content: center;
    align-items: center;
    
    max-width: 8.125rem;
    width: 100%;
}

.intention img, .option img{
    width: 1.5rem;
    color: red;

    margin-right: 0.2rem;
}

.intention button{
    border: none;
    background-color: transparent;
    margin-right: 0.625rem;
    cursor:pointer;

    color: var(--background);
}

.option a{
    color: var(--background);
}

.containerIntention{
    padding-bottom: 3.125rem;
}


/* footer */

footer{
    background-color: var(--button);
    color: var(--background);

    padding: 1rem 0;
    text-align: center;
    font-size: 1.25rem; 

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 

    margin-top: auto;

}


footer .container-footer{
    max-width: 350px;
    width: 90%;
} 


footer .container-footer img{
    background-repeat: no-repeat;
}

/* media */


@media (max-width: 68.75rem){
    
    aside{
        display: none;
        visibility: hidden;
    }
}

/* 
@media (max-width: 45.9375rem){
    .content .img h3{
        font-size: 1.5rem;
    }

    .publicationContainer{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

} */

@media (max-width: 31.875rem){
    header div{
        margin: 0 auto;
    }

    header div div{
        margin-top: 1rem;
    }
}
