body{
    background: var(--background);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--background-container);
    width: 37.375rem;
    margin: 0 0.625rem;
    padding: 2.125rem 0 2.5rem 0 ;

    border-radius: 0.625rem;
    display: flex;
    justify-content: center;
}

#container-contents {
    max-width:  28.625rem;
    width: 100%;
}

#container-contents #reset{
    text-align: center;
    font-size: 1.3rem;
    color: var(--white);
}

#container-contents label{
    display: block;
    padding: 1rem 0 0.5rem 0;
    color: var(--white);
}

#container-contents #description{
    color: #EEE;

    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

#container-contents input{
    width:  90%;
    margin: 0 10px;
    height: 2.25rem;
    border: none;
    border-radius: 10px;
}

#container-contents input:focus-within{
    visibility: visible;
    border: 3px solid var(--button-hover);
}

#container-contents input{
    text-indent: 10px;
}

#container-contents #enviar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-contents #enviar #a{
    text-decoration: none;

    max-width: 12.5rem;
    width: 100%;
    /* margin: 0 10px; */
    padding: 1rem 0;
    margin: 1rem 0.625rem 0 0.625rem;

    
    background-color: var(--button);
    color: var(--background);
    font-size: 1rem;
    
    border: 0.0625rem solid var(--button);
    border-radius: 8px;
    cursor: pointer;
   
    text-align: center;

    font-size: 1.3rem;
}

#container-contents #enviar #a:hover{
    border: 1px solid red;
    background-color: red;
}

#container-contents button{
    max-width: 12.5rem;
    width: 100%;
    margin: 1rem 0.625rem 0 0.625rem;
    padding: 1rem 0;
    
    align-self: center;

    background-color: var(--button);
    color: var(--white);

    border: 0.0625rem solid var(--button);
    border-radius: 8px;
    cursor: pointer;

    font-size: 1.3rem;

}

#container-contents button:hover{
    background-color: var(--button-hover);
    border-color: var(--button-hover);
}
