body{
    background: var(--background);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--background-container);
    width: 37.375rem;
    margin: 0 0.625rem;
    padding: 2.125rem 0 2.5rem 0 ;

    border-radius: 0.625rem;
    display: flex;
    justify-content: center;
}

#container-contents {
    max-width: 28.625rem;
    width: 100%;
}

#container-contents #reset{
    text-align: center;
    font-size: 1.3rem;
    color: var(--white);
}

#container-contents p{
    color: #EEE;

    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

#container-contents #home{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-contents a{
    max-width: 12.5rem;
    width: 100%;
    margin: 1rem 0.625rem 0 0.625rem;
    padding: 1rem 0;
    
    align-self: center;
    text-align: center;

    font-size: 1.5rem;

    background-color: var(--button);
    color: var(--white);

    border: 0.0625rem solid var(--button);
    border-radius: 8px;
}

#container-contents a:hover{
    background-color: var(--button-hover);
    border-color: var(--button-hover);
}