html {
    height: 100%;
    min-height: 100%;
}

body{
    background: var(--background);
    background-repeat: no-repeat;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header{
    background-color: var(--button);
    color: var(--background);
    padding: 3.75rem 0;
}

.container {
    max-width: 78.75rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
} 

header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header a{
    color: var(--background);
}

header .logo a{
    font-size: 2.25rem;
}    

header .logout {
    font-size: 24px;
}

header .logout a:hover{
    color: var(--button-hover);
}

.user{
    width: 100%;
    max-width: 14rem;

    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: 1.125rem;
}

.user a {
    text-decoration: none;
    color: #fff;        
}

.user .login, .user .register{
    padding: 0.625rem;
    border-radius: 0.625rem;
    background-color: #6B7AA1;
}

.user .registration{
    max-width: 140px;
} 

.register:hover{
    background-color: var(--button-hover);
} 

.login:hover{
    background-color: var(--button-hover);
} 

/* main */

main {
    max-width: 78.75rem;
    width: 100%;
    padding: 2.125rem 0 2.5rem 0 ;
    margin: 2.5rem auto;

    border-radius: 0.625rem;
    
    font-size: 1.5rem;

    color: var(--background);
    /* color: #DDDDDDDD; */
    background-color: var(--background-container);
}

main .part1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main .part1 div{
    max-width: 26.25rem;
    width: 100%;
}

main .part1 img{
    max-width: 18.5rem;
    width: 100%;

    border-radius: 8px;
}

main .part1 div div p{
    text-align: center;
    margin-bottom: 0.5rem;
}

main .part1 div  p{
    text-align: justify;
}


main .part2{
    margin: 1rem 1rem 0 1rem;
    text-align: center;
}

main .part2 p:nth-child(2){
    color: var(--button-hover)
}

main .part3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-top: 1rem;
}

main .part3 img{
    max-width: 35.25rem;
    width: 100%;

    border-radius: 8px;
}

main .part4 {
    text-align: justify;
}

main .part4 p{
    margin: 1rem 2rem 0 2rem;
}

/* footer */

footer{
    background-color: var(--button);
    color: var(--background);

    padding: 1rem 0;
    text-align: center;
    font-size: 1.25rem; 

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 

    margin-top: auto;
}


footer .container-footer{
    max-width: 350px;
    width: 90%;
} 


footer .container-footer img{
    background-repeat: no-repeat;
}